.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron-custom {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background-image: url("./assests/bg-9.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
html {
  scroll-behavior: smooth;
}

.header-img {
  position: relative;
  bottom: 0.1rem;
  width: 2rem;
}

.text-jumbo {
  color: #e9f9e9;
}

.header-animated {
  cursor: pointer;
  background-image: linear-gradient(to right, #3cbd56, #3cbd56 50%, #247033 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  margin-bottom: 3rem;
}

.header-animated:before {
  content: "";
  background: #3cbd56;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.header-animated:hover {
  background-position: 0;
}

.header-animated:hover::before {
  width: 100%;
}

.footer {
  margin-top: 0.4rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.link-text {
  color: #96f2a9;
  text-decoration: none;
}

.link-text :hover {
  text-decoration: none;
  cursor: pointer;
}

.bodybackground-bg {
  background-image: url("./assests/bg-8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-img img {
  width: 15rem;
}

.card-custom {
  position: relative;
  display: block;
  cursor: pointer;
}

.card-custom .card-custom-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(24, 70, 33, 0.9);
  transition: opacity 0.25s ease;
  text-align: center;
}

.card-custom .card-custom-caption .project-category {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
}

.card-custom .card-custom-caption .card-name {
  font-size: 1.2rem;
}
.card-custom:hover .card-custom-caption {
  opacity: 1;
}

.addInputItems {
  padding-top: 2rem;
}
